@model TsVote.Data.Entities.Gene.Country

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_country" />

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-sm btn-outline-primary"><i class="bi bi-save-fill"></i> Guardar</button> |
                <a asp-action="Index" class="btn btn-sm btn-outline-success"><i class="bi bi-chevron-double-left"></i> Retornar</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
