@model TsVote.Data.Entities.Gene.Gender

@{
    ViewData["Title"] = "Crear";
}

<h1>Nuevo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Gender"/>

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-sm btn-outline-primary"><i class="bi bi-save-fill"></i> Guardar</button> |
                <a asp-action="Index" class="btn btn-sm btn-outline-success"><i class="bi bi-chevron-double-left"></i> Retornar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
